<div class="flex flex-col my-4 border-t border-gray-200 pt-6">


    <div class="">

        <img  class="w-56 float-left" src="{% if post.image contains "://" %}{{ post.featured_image }}{% else %}{{ site.baseurl }}{{ post.featured_image }}{% endif %}">

    <div class="flex flex-col justify-start pl-4">
        <a href="#" class="text-blue-700 text-sm font-bold uppercase">{{ post.category }}</a>
        <a href="{{ post.url }}" class="text-2xl font-bold hover:text-gray-700 mt-1 pb-4">{{ post.title }}</a>
        <!-- <p href="#" class="text-sm pb-3">
            By <a href="#" class="font-semibold hover:text-gray-800">David Grzyb</a>, Published on April 25th, 2020
        </p> -->
        <a href="{{ post.url }}" class="text-gray-600">{{ post.excerpt }}</a>
        <!-- <a href="{{ post.url }}" class="uppercase text-gray-800 hover:text-black">Continue Reading <i class="fas fa-arrow-right"></i></a> -->
    </div>
    </div>
</div>
