---
---
<!DOCTYPE html>
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
  </head>

<body class="bg-white font-family-karla">

    {% include header.html %}


    {% include categories.html %}

    <div class="container mx-auto flex flex-wrap py-6">
      <div id="search-searchbar"></div>
      <div id="menu"></div>
        {{ content }}


        {% include sidebar.html %}


    </div>
    <div id="pagination"></div>

{% include footer.html %}

{% include algolia.html %}
</body>
</html>
